/*general*/
*{
    margin: 0;
}

.contenedor{
    max-width: 1920px;
    margin: auto;
}
/*nav bar*/

.logo{
    height: 100px;
    width: 100px;
    margin-left: 20px;
    z-index: 10000;
}

/*main movil*/


.reserva{
    display: flex;
    z-index: 5;
    font-size: 1rem;
    color: rgb(0, 0, 0);
    position: absolute;
    padding: 20px;
    margin-top: 150px;
    font-family: 'Abril Fatface', cursive;
    justify-content: center;
    font-size: bold;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 10px 12px 10px black;
    border: none;

}

.reserva-pre{
    display: flex;
    z-index: 1;
    font-size: 2rem;
    margin: auto;   
    color: rgb(0, 0, 0);
    position: absolute;
    padding: 20px;
    top: 0;
    left: 0;
    right:0;
    bottom: 0;
    margin: auto;
    font-family: 'Abril Fatface', cursive;
    justify-content: center;
    font-size: bold;
    cursor: default;;
}
.reserva:hover{
    background-color: #000000;
    color: white;
    transition: all 800ms ease;
    box-shadow:none;
}


.reservat{
    display: flex;
    z-index: 5;
    font-size: 2rem;
    margin: auto;   
    color: rgb(0, 0, 0);
    position: absolute;
    padding: 20px;
    top: 0;
    left: 0;
    right:0;
    bottom: 0;
    margin: auto;
    margin-top: 250px;
    font-family: 'Abril Fatface', cursive;
    justify-content: center;
    font-size: bold;
}


.reservac{
    display: flex;
    z-index: 5;
    font-size: 1.1rem;
    color: rgb(0, 0, 0);
    margin: auto;
    position: absolute;
    padding: 20px;
    font-family: 'Dosis', sans-serif;
    justify-content: center;
    text-align: center;
    margin-top: 465px;

}

.reservan{
    display: flex;
    z-index: 5;
    font-size: 2rem;
    margin: auto;   
    color: rgb(0, 0, 0);
    position: absolute;
    padding: 20px;
    top: 0;
    left: 0;
    right:0;
    bottom: 0;
    margin: auto;
    margin-top: 250px;
    font-family: 'Courgette', cursive;
    justify-content: center;
    font-size: bold;
}

.foto-aguila{
    z-index: 1;
    opacity: 0.8;
    height: 700px;;
}

/* trabajos */


.trabajost{
    text-align: center;
    font-family:'Abril Fatface', cursive;
    font-size: 1.5rem;
    margin-top: 20px;
}

.trabajosts{
    text-align: center;
    font-size: 1rem;
    margin-top: 20px;
    font-family: 'Dosis', sans-serif;
    color: black;
    
}

.mtrabajos{
    display: flex;
    width: 320px;
    height: 420px;
    margin-left: 35px;
    margin-top: 30px;
    overflow:hidden;
    transition: all 800ms ease;
    border-radius: 10px;
}

.mtrabajos:hover{
    -webkit-transform:scale(1.1);transform:scale(1.1);
    transition: all 800ms ease;
}

.izq:hover{
    -webkit-transform:scale(1.1);transform:scale(1.1);
    transition: all 800ms ease;
}

/*titulos */ 

.mistitulos{
    background-color: #000000;
}
.titulost{
    text-align: center;
    font-family:'Abril Fatface', cursive;
    font-size: 1.5rem;
    color: white;
    padding-top: 10px;
}

.titulosts{
    text-align: center;
    font-size: 1rem;
    font-family: 'Dosis', sans-serif;
    color: white;
}
.titulos{
    height: 290px;
    width: 390px;
    
}

.titulos:hover{
    -webkit-transform:scale(1.1);transform:scale(1.1);
    transition: all 800ms ease;
}



/*footer*/

.faq{
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    padding-top: 15px;
    margin-left: 15px;
    margin-right: 10px;
    font-size: 1.4rem;
    text-align: center;
}

.faqp{
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    margin-top: 15px;
    margin-left: 15px;
    font-size: 1rem;
    text-decoration: underline;
    text-align: center;
}

.faqr{
    font-family: 'Dosis', sans-serif;
    color: #000000;
    margin-top: 15px;
    margin-left: 30px;
    margin-right: 10px;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}



.footer{
    color: white;
    background-color: #000000;
    padding-bottom: 7px
}

.footerc{
    background-color: #000000;
    padding-bottom: 2%;
    text-align: center;
    font-family: 'Dosis', sans-serif;
    font-size: 1rem;
    padding-top: 3%;
}
/* Ordenador */

@media screen and (max-width: 768px){
    .contenido-movil{
        display: block;
    }

    .contenido-ordenador{
        display: none;
    }

    .reserva{
        display: flex;
        z-index: 5;
        font-size: 1rem;
        color: rgb(0, 0, 0);
        position: absolute;
        padding: 20px;
        margin-top: 615px;
        font-family: 'Abril Fatface', cursive;
        justify-content: center;
        font-size: bold;
        background-color: transparent;
        border-radius: 10px;
        box-shadow: 10px 12px 10px black;
        border: none;
    
    }
    
    .reserva-pre{
        display: flex;
        z-index: 5;
        font-size: 2rem;
        margin: auto;   
        color: rgb(0, 0, 0);
        position: absolute;
        padding: 20px;
        top: 0;
        left: 0;
        right:0;
        bottom: 0;
        margin: auto;
        font-family: 'Abril Fatface', cursive;
        justify-content: center;
        font-size: bold;
    }
    .reserva:hover{
        background-color: #000000;
        color: white;
        transition: all 800ms ease;
        box-shadow:none;
    }
    
    
    .reservat{
        display: flex;
        z-index: 5;
        font-size: 1.5rem;
        margin: auto;   
        color: rgb(0, 0, 0);
        position: absolute;
        top: 0;
        left: 0;
        right:0;
        bottom: 0;
        margin: auto;
        margin-top: 450px;
        font-family: 'Abril Fatface', cursive;
        justify-content: center;
        font-size: bold;
        text-align: center;
    }
    
    
    .reservac{
        display: flex;
        z-index: 5;
        font-size: 1.1rem;
        color: rgb(0, 0, 0);
        margin: auto;
        position: absolute;
        padding: 20px;
        font-family: 'Dosis', sans-serif;
        justify-content: center;
        text-align: center;
        margin-top: 415px;
    
    }
    
    .reservan{
        display: flex;
        z-index: 5;
        font-size: 2rem;
        margin: auto;   
        color: rgb(0, 0, 0);
        position: absolute;
        padding: 20px;
        top: 0;
        left: 0;
        right:0;
        bottom: 0;
        margin: auto;
        margin-top: 250px;
        font-family: 'Courgette', cursive;
        justify-content: center;
        font-size: bold;
    }

    
    
    .faq{
        font-family: 'Dosis', sans-serif;
        font-weight: bold;
        padding-top: 15px;
        margin-left: 15px;
        margin-right: 10px;
        font-size: 1rem;
    }
    
    .faqp{
        font-family: 'Dosis', sans-serif;
        font-weight: bold;
        margin-top: 15px;
        margin-left: 15px;
        font-size: 0.8rem;
        text-decoration: underline;
    }
    
    .faqr{
        font-family: 'Dosis', sans-serif;
        color: #000000;
        margin-top: 15px;
        margin-left: 30px;
        margin-right: 10px;
        font-size: 0.7rem;
        font-weight: bold;
    }
    

    .footer{
        color: white;
        background-color: #000000;
        padding-bottom: 7px
    }
    
    .footerc{
        background-color: #000000;
        padding-bottom: 2%;
        text-align: center;
        font-family: 'Dosis', sans-serif;
        font-size: 0.7rem;
        padding-top: 3%;
    }



    .big{
        text-decoration: none;
        align-items: center;
        color: #000000;
        margin-top: 20px;
        padding-bottom: 50px;
        margin-left: 30%;
        font-family: 'Dosis', sans-serif;
        font-size: 1rem;
        
    }

    .nig{
        text-decoration: none;
        align-items: center;
        background-color: #313131;
        color: #000000;
        margin-top: 20px;
        padding-bottom: 10px;
        padding-top: 2.5%;
    }

    /* Navbar */
    .botones{
        text-decoration: none;
        color: rgb(255, 255, 255);
        background-color: rgb(255, 255, 255);
        text-align: center;
        font-family: 'Dosis', sans-serif;
        background-color: white;
    }
    .navbar{
        display: flex;
        list-style: none;
        text-decoration: none;
        padding: 0px;
        background-color: rgb(255, 255, 255);
        padding-bottom: 50px;
        z-index: 5;
    }
    .libroc{
        margin-left: 320px;
        transition: all 0.2ms ease;
    }
    .bordes{
        text-align: center;

    }

    .mstrabajos:hover, .mstitulos:hover, .prf:hover, .libroc:hover{
        background-color: #ffffff;
        color: black;
        z-index: -1;
        border-radius: 10px;
        padding: 10px;
        transition: all 2000ms ease;

    }

    /* Burger menu */
    .bars__menu{
        width: 30px;
        height: 30px;
        position: absolute;
        left: 85%;
        top: 10%;
        transform: translate(-50%, -50%);
        cursor: pointer;
        z-index: 100;
    }
    
    .bars__menu span {
        display: block;
        width: 100%;
        height: 2px;
        background: #9A00BF;
        margin-top: 6px;
        transform-origin: 0px 100%;
        transition: all 700ms;
    }
    
    .activeline1__bars-menu{
        transform: rotate(45deg) translate(-2px, 1px); 
    }
    
    .activeline2__bars-menu{
        opacity: 0;
        margin-left: -30px; 
    }
    
    .activeline3__bars-menu{
        transform: rotate(-45deg) translate(-4px, 2px);
    }
    .navbar{
        background-color: #000000;
        
    }
    
    /* Menu escondido */

    .menu{
        display: block;;
        text-decoration: none;
        list-style: none;
        opacity: 0;
        position: absolute;
        background-color: #000000;
        z-index: 1000;
        transition: all 700ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
        font-family: 'Dosis', sans-serif;
        height: 700px;
        padding-right: 10px;
        margin-left: -1000px;
    }

    .menu a{
        text-decoration: none;
        color: white;
        font-family: 'Dosis', sans-serif;
    }

    .menu li{
        padding-top: 80px;
        padding-right: 50px;
    }
    .activemenu{
        opacity: 1;
        margin-right: -60px;
        margin-left: 0px;
    }

    .menu a:hover{
        text-decoration: underline;
    }

    /* Redes */
    .instagram-movil{
        display: inline-block;
        position: absolute;
        margin-left: 5px;
    }

 
    .tiktok-movil{
        display: inline-block;
        margin: 0px;;
        position: absolute;
        margin-left: 55px;
    }

 
    .face-movil{
        display: inline-block;
        margin: 0px;;
        position: absolute;
        margin-left: 105px;

}

 
     .what-movil{
        display: inline-block;
        margin: 0px;;
        position: absolute;
        margin-left: 155px;
    }
}

@media screen and (min-width: 760px) and (max-width: 1023px) {
    .contenido-ordenador{
        display: block;
    }

    .contenido-movil{
        display: none;
    }

    .logo{
        height: 120px;
        width: 120px;
        z-index: 5;
        margin-left: 90px;
    }

    .reserva{
        display: flex;
        z-index: 5;
        font-size: 1rem;
        color: rgb(0, 0, 0);
        position: absolute;
        padding: 20px;
        font-family: 'Abril Fatface', cursive;
        justify-content: center;
        font-size: bold;
        background-color: transparent;
        border-radius: 10px;
        box-shadow: 10px 12px 10px black;
        border: none;
        margin-right: 250px
    }
    
    .reserva-pre{
        display: flex;
        z-index: 5;
        font-size: 2rem;
        margin: auto;   
        color: rgb(0, 0, 0);
        position: absolute;
        top: 0;
        left: 0;
        right:0;
        bottom: 0;
        margin: auto;
        font-family: 'Abril Fatface', cursive;
        justify-content: center;
        font-size: bold;
    }
    .reserva:hover{
        background-color: #000000;
        color: white;
        transition: all 800ms ease;
        box-shadow:none;
    }
    
    
    .reservat{
        display: flex;
        z-index: 5;
        font-size: 1.5rem;
        margin: auto;   
        color: rgb(0, 0, 0);
        position: absolute;
        top: 0;
        left: 0;
        right:0;
        bottom: 0;
        margin: auto;
        margin-top: 450px;
        font-family: 'Abril Fatface', cursive;
        justify-content: center;
        font-size: bold;
        text-align: center;
    }
    
    
    .reservac{
        display: flex;
        z-index: 5;
        font-size: 1.1rem;
        color: rgb(0, 0, 0);
        margin: auto;
        position: absolute;
        padding: 20px;
        font-family: 'Dosis', sans-serif;
        justify-content: center;
        text-align: center;
        margin-top: 415px;
    
    }
    
    .reservan{
        display: flex;
        z-index: 5;
        font-size: 2rem;
        margin: auto;   
        color: rgb(0, 0, 0);
        position: absolute;
        padding: 20px;
        top: 0;
        left: 0;
        right:0;
        bottom: 0;
        margin: auto;
        margin-top: 250px;
        font-family: 'Courgette', cursive;
        justify-content: center;
        font-size: bold;
    }

    
    /* Cita */

    .fondo-img{
        padding: 0px;
        width: 00px;
        z-index: 1;
        opacity: 0;
        position: absolute;
        
        
    }

    .fondo-t{
        width: 835px;
    }

    .reservan{
        font-size: 4rem;
        margin-left: 2%;
        color: white;
        margin-top: 200px;
        
    }
    
    .reservac{
        font-size: 1.8rem;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        color: white;
        margin-top: 650px;
    }

    .reservat{
        margin-top: 500px;;
        font-size: 2.5rem;
        padding: 20px;
        color: white;
    }
    .reserva{
        margin-left: 250px;
        margin-top: 850px;
        color: white;;
    }
    
    /* Trabajos */

    .mtrabajos{
        display: inline;
        height: 700px;
        width: 540px;
        margin-top: 30px;
        overflow:hidden;
        transition: all 800ms ease;
        border-radius: 10px;
        margin-left: 18%;
    }

    .izq{
        margin-left: 18%;
    }

    .trabajost{
        text-align: center;
        font-family:'Abril Fatface', cursive;
        font-size: 2rem;
        margin-top: 30px;
    }
    
    .trabajosts{
        text-align: center;
        font-size: 1.1rem;
        margin-top: 20px;
        font-family: 'Dosis', sans-serif;
        color: black;
        
    }

    /* Titulos */

    .titulost{
        text-align: center;
        font-family:'Abril Fatface', cursive;
        font-size: 2rem;
        color: white;
        padding-top: 30px;
    }

    .titulosts{
        text-align: center;
        font-size: 1.1rem;
        margin-bottom: 30px;
        font-family: 'Dosis', sans-serif;
        color: white;
    }

    .titulos{
        display: inline;
        height: 100%;
        width: 820px;
        padding-bottom: 30px;
    }

    /* Redes */

    .redes{
        display: flex;
        text-decoration: none;
        color: #000000;
        height: 20px;
        width: 20px;
      
    }

    .big{
        text-decoration: none;
        align-items: center;
        color: #000000;
        margin-top: 20px;
        padding-bottom: 50px;
        margin-left: 40%;
        font-family: 'Dosis', sans-serif;
        font-size: 2rem;
        
    }

    .nig{
        display: block;;
        text-decoration: none;
        align-items: center;
        background-color: #313131;
        color: #000000;
        margin-top: 20px;
        padding-bottom: 50px;
        padding-top: 2.5%;
        text-align: center;
        padding-right: 225px;
    }
    
    /*Nav*/

    .botones{
        text-decoration: none;
        color: rgb(255, 255, 255);
        background-color: rgb(0, 0, 0);
        text-align: center;
        font-family: 'Dosis', sans-serif;
        opacity: 0;
        position: absolute;
        cursor: default;
    }

    .nav-header{
        position: absolute;
        z-index: 100;
        width: 835px;
        z-index: 1000;
    }

    .navbar{
        display: flex;
        list-style: none;
        text-decoration: none;
        padding: 0px;
        background-color: white;
        padding-bottom: 50px;
        opacity: 0.8;
        
    }

    .navbar{
        background-color: #000000;
    }
    
    .offcanvas-header {
        background-color: #ffffff;
        color: rgb(0, 0, 0);
    }
    
    .navbar-nav{
        background-color: #ffffff;
        color: rgb(255, 255, 255);
    }
    
    /* Burguer */
    .bars__menu{
        width: 30px;
        height: 30px;
        position: absolute;
        left: 85%;
        top: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
        z-index: 100000;
    }
    
    .bars__menu span {
        display: block;
        width: 100%;
        height: 2px;
        background: #9A00BF;
        margin-top: 6px;
        transform-origin: 0px 100%;
        transition: all 700ms;
        
    }
    
    .activeline1__bars-menu{
        transform: rotate(45deg) translate(-2px, 1px); 
    }
    
    .activeline2__bars-menu{
        opacity: 0;
        margin-left: -30px; 
    }
    
    .activeline3__bars-menu{
        transform: rotate(-45deg) translate(-4px, 2px);
    }
    .navbar{
        background-color: #000000;
        
    }
    
    /* Menu escondido */

    .menu{
        display: block;;
        text-decoration: none;
        list-style: none;
        opacity: 0;
        position: absolute;
        background-color: #000000;
        z-index: 1000;
        transition: all 700ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
        font-family: 'Dosis', sans-serif;
        height: 950px;
        padding-right: 10px;
        z-index: 100;
        margin-left: -1000px;
    }

    .menu a{
        text-decoration: none;
        color: white;
        font-family: 'Dosis', sans-serif;

        z-index: 10;
    }

    .menu li{
        padding-top: 80px;
        padding-right: 50px;
        z-index: 10;
    }
    .activemenu{
        opacity: 1;
        margin-right: -60px;
        z-index: 100;
        color: #000000;
        opacity: 0.9;
        margin-left: 0px;
        
    }

    .menu a:hover{
        text-decoration: underline;
        color: #ffffff;
        opacity: 1;
        
    }

    .instagram-movil{
        display: inline-block;
        margin-top: 0px;
        position: absolute;
        margin-left: 5px;
    }

    .instagram{
        opacity: 0;
        cursor: default;
    }
 
    .tiktok-movil{
        display: flex;
        position: absolute;
        margin-left: 55px;
    }
    
    .tiktok{
        opacity: 0;
        cursor: default;
        ;
    }
 
    .face-movil{
        display: block;
        margin: 0px;;
        position: absolute;;
        margin-left: 105px;
    }

    .face{
        opacity: 0;
        cursor: default;
    }

 
    .what-movil{
        display: flex;
        margin: 0px;;
        position: absolute;
        margin-left: 155px;

    }

    .what{
        opacity: 0;
        cursor: default;
        
    }

}   



@media screen and (min-width: 1024px){
    .contenido-ordenador{
        display: block;
    }

    .contenido-movil{
        display: none;
    }

    .logo{
        height: 120px;
        width: 120px;
        z-index: 5;
        margin-left: 90px;
    }
    /* Cita */

    .fondo-img{
        padding: 0px;
        width: 100%;
        z-index: 1;
        
    }

    .fondo-t{
        opacity: 0;
        position: absolute;
        margin-left: -1000px;
    }
    .reservan{
        font-size: 4rem;
        margin-left: 1%;
        color: white;
        margin-top: 13%;
    }
    
    .reservac{
        font-size: 1.8rem;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        color: white;
        margin-top: 28%;
    }

    .reservat{
        margin-top: 20%;
        font-size: 2.5rem;
        padding: 20px;
        color: white;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

    }
    .reserva{
        margin-top: 40%;
        color: white;;
        position: absolute;
    }
    
    /*trabajos */

    .mtrabajos{
        display: inline;
        height: 700px;
        width: 540px;
        margin-top: 30px;
        overflow:hidden;
        transition: all 800ms ease;
        border-radius: 10px;
    }

    .izq{
        margin-left: 5.3%;
        z-index: 100;
    }


    .trabajost{
        text-align: center;
        font-family:'Abril Fatface', cursive;
        font-size: 2rem;
        margin-top: 30px;
    }
    
    .trabajosts{
        text-align: center;
        font-size: 1.1rem;
        margin-top: 20px;
        font-family: 'Dosis', sans-serif;
        color: black;
        
    }

    .mtrabajos:hover{
        -webkit-transform:scale(1.1);transform:scale(1.1);
        transition: all 800ms ease;
    }
    
    .izq:hover{
        -webkit-transform:scale(1.1);transform:scale(1.1);
        transition: all 800ms ease;
    }


    /* Titulos */
    .titulost{
        text-align: center;
        font-family:'Abril Fatface', cursive;
        font-size: 2rem;
        color: white;
        padding-top: 30px;
    }

    .titulosts{
        text-align: center;
        font-size: 1.1rem;
        margin-bottom: 30px;
        font-family: 'Dosis', sans-serif;
        color: white;
    }

    .titulos{
        display: inline;
        height: 100%;
        width: 929px;
        padding-bottom: 30px;
    }

    /* Redes */

    .redes{
        display: flex;
        text-decoration: none;
        color: #000000;
        height: 20px;
        width: 20px;
      
    }
    .instagram-movil{
        display: inline-block;
        margin-top: 0px;
        position: absolute;
        margin-left: 5px;
    }


    .tiktok-movil{
        display: inline-block;
        margin-top: 0px;
        position: absolute;
        margin-left: 55px;
    }



    .face-movil{
        display: inline-block;
        margin-top: 0px;
        position: absolute;
        margin-left: 105px;
    }



    .what-movil{
        display: inline-block;
        margin-top: 0px;
        position: absolute;
        margin-left: 155px;
    }


    .big{
        text-decoration: none;
        align-items: center;
        color: #000000;
        margin-top: 20px;
        padding-bottom: 50px;
        margin-left: 40%;
        font-family: 'Dosis', sans-serif;
        font-size: 2rem;
        
    }

    .nig{
        text-decoration: none;
        align-items: center;
        background-color: #313131;
        color: #000000;
        margin-top: 20px;
        padding-bottom: 50px;
        padding-top: 2.5%;
    }
    
    /*Nav*/

    .botones{
        text-decoration: none;
        color: rgb(255, 255, 255);
        background-color: rgb(0, 0, 0);
        text-align: center;
        font-family: 'Dosis', sans-serif;
    }

    header{
        position: fixed;
        z-index: 100;
        width: 100%;
        opacity: 0.8;
    }

    .navbar{
        display: flex;
        list-style: none;
        text-decoration: none;
        padding: 0px;
        background-color: white;
        padding-bottom: 50px;
        
    }
    .mstrabajos{
        margin-left: 200px;
    }

    .mstitulos{
        margin-left: 50px;
    }

    .prf{
        margin-left: 50px;
        
    }
    .libroc{
        margin-left: 300px;
        transition: all 0.2ms ease;
    }
    .bordes{
        text-align: center;

    }

    .mstrabajos:hover, .mstitulos:hover, .prf:hover, .libroc:hover{
        background-color: #ffffff;
        color: black;
        z-index: -1;
        border-radius: 10px;
        padding: 10px;
        transition: all 2000ms ease;
        
    }

    .navbar{
        background-color: #000000;
    }
    
    .offcanvas-header {
        background-color: #ffffff;
        color: rgb(0, 0, 0);
    }
    
    .navbar-nav{
        background-color: #ffffff;
        color: rgb(255, 255, 255);
    }
    
    /* Burguer */

    /* Burger menu */
    .bars__menu{
        width: 30px;
        height: 30px;
        position: absolute;
        left: 85%;
        top: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
        z-index: 100;
    }
    
    .bars__menu span {
        display: block;
        width: 100%;
        height: 2px;
        background: #9A00BF;
        margin-top: 6px;
        transform-origin: 0px 100%;
        transition: all 700ms;
    }
    
    .activeline1__bars-menu{
        transform: rotate(45deg) translate(-2px, 1px); 
    }
    
    .activeline2__bars-menu{
        opacity: 0;
        margin-left: -30px; 
    }
    
    .activeline3__bars-menu{
        transform: rotate(-45deg) translate(-4px, 2px);
    }
    .navbar{
        background-color: #000000;
        
    }
    
    /* Menu escondido */

    .menu{
        display: block;;
        text-decoration: none;
        list-style: none;
        opacity: 0;
        position: absolute;
        background-color: #000000;
        z-index: 1000;
        transition: all 700ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
        font-family: 'Dosis', sans-serif;
        height: 800px;
        padding-right: 10px;
        cursor: default;
        margin-left: -1000px;
    }

    .menu a{
        text-decoration: none;
        color: white;
        font-family: 'Dosis', sans-serif;
    }

    .menu li{
        padding-top: 80px;
        padding-right: 50px;
    }
    .activemenu{
        opacity: 1;
        margin-right: -60px;
        cursor: pointer;
        margin-left: 0px;
    }

    .menu a:hover{
        text-decoration: underline;
    }

}

/* Libro */

@media screen and (max-width:760px){
    .sobre-expuesto{
        position: absolute;
        background-color: black;
        margin: 200px 25px;
        width: 340px;
        color: white;
        font-family: 'Dosis', sans-serif;
    } 

    .sobre-expuesto p{
        padding: 10px ;
        font-size: 0.6rem;
    }
    .sobre-expuesto ol li{
        padding: 10px ;
        font-size: 0.6rem;
    }
    .sobre-expuesto h1{
        padding: 10px ;
        font-size: 1rem;
    }
    .sobre-expuesto h2{
        padding: 10px ;
        font-size: 1rem;
        text-decoration: underline;
    }

    .sobre-expuesto h3{
        padding: 10px ;
        font-size: 0.6rem;
        text-decoration: underline;
    }

    .fondo-libro-movil{
        width: 390px;;
        height: 800px;
        top: 0;
        z-index: -1;
    }
    .cuidados li{

        padding-top: 40px;
        padding-right: 50px;
        
    }

    .nav-libro{
        margin-top: 50px;
    }

    .header-libro{
        position: fixed;
        z-index: 1000;
        width: 390px;
    }

    .fondo-libro-movil-ult{
        width: 390px;;
    }
}
@media screen and (min-width: 760px) and (max-width: 1023px){
    .sobre-expuesto{
        position: absolute;
        background-color: black;
        margin: 25px;
        margin-top: 170px;

        color: white;
        font-family: 'Dosis', sans-serif;
    } 
    .fondo-libro-ordenador{
        width: 835px;
    }
    .sobre-expuesto p{
        padding: 20px ;
        font-size: 1.4rem;
    }
    .sobre-expuesto ol li{
        padding: 30px ;
        padding-left: 30px;;
        font-size: 1.4rem;
    }
    .sobre-expuesto h1{
        padding-top: 30px;
        padding-bottom: 30px;
        font-size: 2rem;
        text-align: center;
    }
    .sobre-expuesto h2{
        padding: 30px ;
        font-size: 1.5rem;
        text-decoration: underline;
    }

    .sobre-expuesto h3{
        padding: 70px 40px;
        font-size: 1rem;
        text-decoration: underline;
    }

    .fondo-libro-movil{
        width: 390px;;
        height: 800px;
        top: 0;
        z-index: -1;
    }
    .cuidados li{

        padding-top: 90px;
        padding-right: 50px;
        
    }

    .navbar-libro{
        left: 30%;
    }

    .fondo-libro-ordenador-ult{
        width: 835px;;

    }

    .fondo-libro-ordenador-ult-real{
        width: 835px;
        height: 450px;
    }
}
@media screen and (min-width: 1024px){
    .sobre-expuesto{
        position: absolute;
        background-color: black;
        margin: 70px;
        margin-top: 170px;

        color: white;
        font-family: 'Dosis', sans-serif;
    } 
    .fondo-libro-ordenador{
        width: 1865px;
    }
    .sobre-expuesto p{
        padding: 30px ;
        font-size: 1.4rem;
    }
    .sobre-expuesto ol li{
        padding: 30px ;
        padding-left: 30px;;
        font-size: 1.4rem;
    }
    .sobre-expuesto h1{
        padding-top: 30px;
        padding-bottom: 30px;
        font-size: 2rem;
        text-align: center;
    }
    .sobre-expuesto h2{
        padding: 50px ;
        font-size: 1.7rem;
        text-decoration: underline;
    }

    .sobre-expuesto h3{
        padding: 70px 40px;
        font-size: 1rem;
        text-decoration: underline;
    }

    .fondo-libro-movil{
        width: 390px;;
        height: 800px;
        top: 0;
        z-index: -1;
    }
    .cuidados li{

        padding-top: 90px;
        padding-right: 50px;
        
    }

    .navbar-libro{
        left: 30%;
    }

    .fondo-libro-ordenador-ult-real{
        width: 1865px;;

    }

    .fondo-libro-ordenador-ult{
        opacity: 0;
        position: absolute;
        top: 0;
    }
}
