/*general*/
*{
    margin: 0;
}

.contenedor{
    max-width: 760px;
    margin: auto;
}
/*nav bar*/

.logo{
    height: 100px;
    width: 100px;
}

/*main movil*/


.reserva{
    display: flex;
    z-index: 5;
    font-size: 1rem;
    position: absolute;
    margin: 20px;
    padding: 20px; 
    text-align: center;
    background-color: transparent;
    color: rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
    box-shadow: 5px 5px 5px black;
    margin-top: 550px;
    margin-left: 110px;
    font-family: 'Abril Fatface', cursive;
    transition: all 800ms ease;
    border-radius: 10px;
    border: 1px 1px 1px 1px black;
}

.reserva:hover{
    background-color: #ffffff;
    transition: all 800ms ease;
    box-shadow:none;
}


.reservat{
    z-index: 5;
    font-size: 1.5rem;
    margin: auto;   
    color: rgb(0, 0, 0);
    position: absolute;
    padding: 20px;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    margin-top: 400px;
    font-family: 'Abril Fatface', cursive;
    justify-content: center;

}

.reservac{
    z-index: 5;
    font-size: 0.9rem;
    color: rgb(0, 0, 0);
    margin: auto;
    position: absolute;
    margin-top: 450px;
    padding: 20px;
    font-family: 'Abril Fatface', cursive;
    justify-content: center;


}

.reservan{
    display: flex;
    z-index: 5;
    font-size: 1.5rem;
    margin: auto;   
    color: rgb(0, 0, 0);
    position: absolute;
    margin-top: 300px;
    padding: 20px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    margin-top: 160px;
    font-family: 'Courgette', cursive;
    justify-content: center;
    font-size: bold;
}

main img{
    padding-top: 60px;
    z-index: 1;
    opacity: 0.6;
    height: 810px;
    width: 390px;


}

